<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :title %><br>
    <p><%= f.text_field :title %></p>
  </div>
  <div class="field form-group">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field form-group">
    <label>Attended/No Show</label><br>
    <%= f.text_field :attendence %>
  </div>
  <div class="field form-group">
    <label>Follow-up owned by</label><br>
    <%= f.text_field :followup_ownedby %>
  </div>
  <div class="field form-group">
    <label>Follow-up status</label><br>
    <%= f.text_field :followup_status %>
  </div>
  <div class="field form-group">
    <%= f.label :comments %><br>
    <%= f.text_field :comments %>
  </div>
  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field form-group">
    <%= f.label :company %><br>
    <%= f.text_field :company %>
  </div>
  <div class="field form-group">
    <%= f.label :role %><br>
    <%= f.text_field :role %>
  </div>
  <div class="field form-group">
    <label>E-mail address</label><br>
    <%= f.text_field :emailaddress %>
  </div>
  <div class="field form-group">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field form-group">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="actions" id="submit-btn">
    <%= f.submit %>
  </div>
<% end %>
