<!DOCTYPE html>
<html>
<head>
  <title>Retail Dinners</title>
  <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css", "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js", "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <style type="text/css" src="././assets/stylesheets/bootstrap.css"></style>
  <style type="text/css" src="././assets/stylesheets/bootstrap.min.css"></style>
  <style type="text/css" src="././assets/stylesheets/application.css"></style>
  <style type="text/css" src="././assets/stylesheets/application.js"></style>
  <style type="text/css" src="././assets/stylesheets/bootstrap.js"></style>

</head>
<body>
	<!--if want to fix the navbar, so when scroll it stays there add -fixed- as:
	<div class="navbar navbar-fixed-top">-->
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div>
				<a href="#" class="navbar-brand">Home</a>
				<ul class="nav navbar-nav">
					<li class="active"><%= link_to "Dinners", items_path %></li>
					<li><a href="#">Profile</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right fright">
					<% if current_user.present? %>
						<ul class="nav navbar-nav">
							<li>Logged in as <strong><%= current_user.email %></strong></li>
					        <li><%= link_to "Edit profile", edit_user_registration_path, :class => 'navbar-link' %></li>
					        <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
				        </ul>
				    <% else %>
				    	<ul class="nav navbar-nav">
							<li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
							<li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
						</ul>
				        <!--
				        <li class="dropdown">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile <span class="caret"></span></a>
				          <ul class="dropdown-menu" role="menu">
				            <li><a href="#">Show profile information</a></li>
				            <li><a href="#">Dinners that I created</a></li>
				          </ul>
				        </li>-->
			        <% end %>
			    </ul>
			</div>
		</div>
	</div>

	<ul class="nav nav-pills nav-stacked" id="nav-stacked">
	  <li class="active"><a href="#">Home</a></li>
	  <li><a href="#">Profile</a></li>
	  <li><%= link_to "Dinners", items_path %></a></li>
	</ul>

	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<%= yield %>

<!--footer-->
<div class="footer">Retail Dinners Follow-ups - ThoughtWorks</div>

</body>
</html>
